
<% if logged_in? %>
<div class="container-fluid" style="margin:0 0 50px 0;">
<%=link_to 'Back' , 'home',class:"btn btn-secondary btn-lg"%>
</div>
<div class="app-quiz">
<%= javascript_pack_tag 'gkQuiz' %>
</div>

<% else %>
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top" style="font-size:32px;">Event Website</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <% if logged_in? %>
                      <li class="nav-item">
                        <div class="nav-link">
                        <%= link_to 'Logout', logout_path ,class:"btn btn-warning"%>
                      </li>
                  <% else %>
                      <li class="nav-item">
                        <div class="nav-link">
                        <%= link_to 'Login', login_path ,class:"btn btn-warning"%>
                      </li>
                      <li class="nav-item">
                        <div class="nav-link">
                        <%= link_to 'Sign up', register_path ,class:"btn btn-warning"%>
                      </li>
                  <% end %>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" id="error">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template" style="padding:150px 0 0 0;">
                <h1>
                    Oops!</h1>
                <h2>Seems You are not Logged-in</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                  <span class="glyphicon glyphicon-home"></span>
                      	 <%= link_to 'Please Login' ,login_path ,class:"btn btn-primary btn-lg"%>
                         <%=link_to 'Back' , 'home',class:"btn btn-info btn-lg"%>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="bg-light py-5">
    <div class="container"><div class="small text-center text-muted" style="color:#000;"> Copyright © 2020 - CodeQuest Internship Project</div></div>
</footer>
<% end %>
